/* General CSS Style */
@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
}

@font-face {
  font-family: Neucha;
  src: url("../assets/fonts/Neucha-Regular.ttf") format("truetype");
}

:root {
  --white: #fff;
  --white-50: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-hover: #ea7600;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --dark-50: #908d8b;
  --bootstrap-dark: #212529;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  min-width: min-content;
  margin: 0;
  padding: 0;

  color: var(--dark);
  font: 16px/1.6em "Open Sans", sans-serif;
}

.display-flow-root { display: flow-root; }

/* Margins */

.margin-bottom-20 { margin-bottom: 20px; }

.margin-bottom-30 { margin-bottom: 30px; }

.margin-bottom-100 { margin-bottom: 100px; }

/* Sections */
.container {
  position: relative;

  width: 1110px;

  margin-inline: auto;
}

.section,
.section-footer {
  position: relative;
  z-index: 0;

  padding: 100px;
}

.section-video { padding: 100px 100px 485px; }

.section-navigation { padding: 200px 100px 100px; }

.section-header {
  position: relative;
  z-index: 0;

  padding: 100px;
  overflow: hidden;
}

/* Headings */
h1,
h2,
h3,
.font-family-neucha {
  color: var(--primary);

  font-weight: 400;
  font-family: Neucha, cursive;
  line-height: 1.2em;
}

h1 {
  margin: 0 0 201px;

  font-size: 72px;
}

h2 {
  margin: 0;

  font-size: 60px;
}

h3 {
  margin: 0;

  font-size: 34px;
}

h4 { margin: 0; }

h5 {
  padding: 5px 10px;

  font-size: 14px;
  line-height: 1.2em;
  text-transform: uppercase;
}

/* Backgrounds */
.section-header::before,
.section::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -20;

  width: 100%;
  height: 100%;

  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

/* .background-image-main { background: url("../assets/images/main.png") 461px 55px no-repeat; } */

.background-light { background-color: var(--light); }

.background-primary-dark { background-color: var(--primary-dark); }

.background-brown { background-color: var(--brown); }

.background-white { background-color: var(--white); }

.background-primary { background: var(--primary); }

/* Images */

.image-main {
  position: absolute;
  top: -50px;
  right: -270px;
  z-index: -10;

  height: 525px;
}

.image-float-left {
  float: left;

  margin-right: 30px;

  vertical-align: middle;
}

.image-float-right {
  float: right;

  margin-left: 30px;

  vertical-align: middle;
}

/* Buttons */
.button-detail {
  display: block;
  width: fit-content;

  margin-top: 40px;
  padding: 12px 24px;

  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.button-submit {
  width: 70px;
  height: 50px;

  padding: 0;

  vertical-align: middle;

  border: none;
}

.button-submit::before { content: url("../assets/images/send.svg"); }

.button-detail:hover,
.button-submit:hover { background: var(--primary-hover); }

/* Forms */
label {
  display: block;

  margin-bottom: 9px;

  font-size: 18px;
}

input {
  box-sizing: border-box;
  width: calc(100% - 70px);
  height: 50px;

  margin: 0;
  padding: 15px;

  border: 0;
}

/* Align */
.align-left { text-align: left; }

.align-center { text-align: center; }

/* Text-color */
.text-color-primary { color: var(--primary); }

.text-color-white { color: var(--white); }

.text-color-dark { color: var(--dark); }

.text-color-primary-dark { color: var(--primary-dark); }

.text-color-bootstrap-dark { color: var(--bootstrap-dark); }

.text-color-dark-50 { color: var(--dark-50); }

.text-color-white-50 { color: var(--white-50); }

.text-color-brown { color: var(--brown); }

.text-color-blue { color: var(--blue); }

/* Text */
p { margin-bottom: 0; }

.font-size-12 { font-size: 12px; }

.font-size-14 { font-size: 14px; }

.font-size-24 { font-size: 24px; }

.font-size-34 { font-size: 34px; }

.font-size-52 { font-size: 52px; }

/* Multi-column Layout */
.columns-2 {
  text-align: left;

  column-count: 2;
  column-gap: 30px;
}

.break-after {
  break-after: column;
}

.columns-2 p:nth-child(-n+2) { margin-top: 0; }

/* Flexible Box Layout */
.flex-container {
  display: flex;
  flex-flow: row nowrap;
}

.flex-container-navigation {
  display: flex;
  flex-flow: row wrap;
  gap: 20px 30px;

  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.flex-container-footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 76px;
}

.flex-item-left {
  box-sizing: border-box;
  width: calc((100% / 2) - 15px);

  padding: 55px;
}

.flex-item-right {
  box-sizing: border-box;
  width: calc((100% / 2) - 15px);

  padding-right: 55px;
}

/* Section-video */

.video {
  position: absolute;
  left: 50%;

  border-style: none;

  transform: translateX(-50%);
}

.drop-shadow { filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%)); }

/* Section-navigation */
.card-navigation {
  flex-basis: 350px;
  box-sizing: border-box;
}

.card-navigation:not(:first-child) { padding: 24px; }

.card-navigation a { text-decoration: none; }

.card-navigation:hover,
.card-navigation:hover * {
  color: var(--white);

  background-color: var(--primary);
}

.digit-navigation {
  margin-bottom: 40px;

  font: 64px/1 Neucha, cursive;
  font-size: 64px;
}
